@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
* {
    padding: 0%;
    margin: 0%;
}
.app {
    .header {        
        height: 5vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        padding-left: 5%;
    }
    .button {
        border:none;
        border-radius: 8px;
        font-family: "Mulish";
        letter-spacing: 0.2em;
        height:2.5vh;
        min-width: 100px;
        
    }
    .box {
        width:100vw;
        height:100vh;
        filter: blur(20);
        background-color: #d9d9d96b;
        border:none;
        position: fixed;
        .login {
            overflow: hidden;
            .close {
                position: absolute;
                margin-top: 15px;
                margin-left: 15px;
                background-image: url(/public/cross.svg);
                width:12px;
                height: 12px;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                opacity: 0.999;
            }
            .animatedBox {
                top: -50%;
                left: -50%;
                transform-origin: bottom right;
                position: absolute;
                animation: rotate 5s linear infinite;
                animation-delay: -3s;
                width:500px;
                height:600px;
                background: linear-gradient(0deg, rgba(217, 217, 217, 0.00) 0%, #0081AA 65%);
                z-index: -1;
            }
            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            >form {
                >h2 {
                    margin-top: 20px;
                    margin-left:calc(50% - 38px);
                    font-family: "Mulish";
                }
                margin-left:5px;
                margin-top: 0.5vh;
                width:590px;
                height:49vh;
                background-color: #d5e6f1; 
                border-radius: 8px;
                >input[type="submit"] {
                    width:150px;
                    height:40px;
                    border:none;
                    font-family: "Mulish";
                    margin-left: calc(50% - 75px);
                    margin-top: 25px;
                }
                .inputBox {
                    padding-top: 35px;
                    display: flex;

                    overflow-y: hidden;
                    margin: 0 auto;
                    width:90%;
                    >input {
                        width:95%;
                        height:50px;
                        outline: none;
                        border: none;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin: 0 auto;
                        background-color: rgba(0, 0, 0, 0);
                        z-index: 10;
                    }
                    .placeholder{    
                        position: absolute;
                        left:7%;
                        margin-top: 15px;
                        pointer-events: none;
                        font-family: "Mulish";
                        font-size: 16px;
                        transition: all 0.5s;
                    }
                    .line {
                        position: absolute;
                        left: 7%;
                        width:85%;
                        height:1px;
                        background-color: #f4f4f4;
                        border-radius: 0px 20px 20px 0px;
                        margin-top: 45px;
                        transition: all 0.5s;
                    }
                    >input:valid ~ .placeholder,
                    >input:focus ~ .placeholder
                     {
                        left:7.2%;
                        font-size: 12px;
                        transform: translateY(-30px);
                    }
                    >input:valid ~ .line,
                    >input:focus ~ .line
                     {
                        height:40px;
                        transform: translateY(-40px);
                    }
                    
                }
            }
            position: fixed;
            margin-left:calc(50% - 300px);
            margin-top: calc(50% - 75vh);
            width:600px;
            height:50vh;
            border:none;
            border-radius: 8px;
            background-color: #dde9f1; 
        }
    }
    width:100vw;
    min-height:100vh;
    background:  linear-gradient(180deg, #7DFFC1 33.12%, #0FF 100%);
    .Hero {
        width:95vw;
        height: 1010px;
        background-color: #FFFFFFE5;
        margin: 0 auto;
        border-radius: 8px;
        .top {
            width: 100%;
            height: 40px;
            border-radius: 8px, 8px, 0px, 0px;
            background-color: #D9D9D9;
            display: flex;
            justify-content: end;
            align-items: center;
            .img {
                background-image: url(/public/Cross.png);
                width:25px;
                height:25px;
                background-size: cover;
                margin-right: 10px;
            }
        }
        .Dec-block {
            margin-top: 2.5%;
            width:90%;
            padding-left: 5%;
            padding-right: 5%;
            height:90%;
            overflow-y: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .dec-r {
                background-image: url(/public/dec-r.png);
                width:40px;
                background-repeat: no-repeat;
            }
            .dec-l {
                background-image: url(/public/dev-l.png);
                width:40px;
                background-repeat: no-repeat;
            } 
            .text {
                margin-top: 25%;
                background: linear-gradient(315deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.80) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0px 10px 9px rgba(0, 0, 0, 0.25);
                font-family: "Joti One";
                font-size: 128px;
            }
        }
    
    }
    .Posts {
        width:100vw;
        min-height: 100px;
        background-color: rgba(255, 255, 255, 0.90);
        margin-top: 54px;
        padding-left: 2%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
    .Post-page {
        width:95%;
        height:98vh;
        margin-top: 1vh;
        margin-left: 2.5%;
        background-color: rgba(255, 255, 255, 0.80);
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        .top {
            border-radius: 8px 8px 0px 0px;
            background-color: #D9D9D9;
            width:100%;
            height:40px;
            .back {
                width:10%;
                height:40px;
                border:none;
                background-color: rgba(218, 218, 218, 0.9);
                font-family: "Mulish";
                font-weight: 600;
            }
        }
        .Hero-post {
            width:100%;
            height:30%;
            border-radius: 0px 0px 30px 30px;
            background-color: white;
            overflow-y: hidden;
           .Hero-post-img {
                width:50%;
                height:100%;
                margin-left:25%;
            } 
        }
        .title {
            max-width:90%;
            margin: 0 auto;
            margin-top: 15px;
            font-family: "Mulish";
            text-align: center;
        }
        .body {
            font-family: "Mulish";
            max-width:90%;
            margin:0 auto;
            margin-top:15px;
            .href {
                text-decoration: underline;
                color: rgba(36, 124, 225, 0.9);
                transition: all 1s linear;
            }
            .code {
                max-width: 100%;
                min-height: 200px;
                border-radius: 8px;
                background-color: #D9D9D9;
            }
        }
    }
}
.Post {
    margin-top: 20px;
    height:400px;
    width:95vw;
    background-color: rgba(255, 255, 255, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: column;
    overflow-y: hidden;
    display: flex;
    
    .top {
        height:32px;
        width:100%;
        border-radius: 0px, 0px, 30px, 30px;
        background: #D9D9D9;
        
    }
    .row {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        .img { 
            min-width:400px;
            max-width: 400px;
            height:390px;
        }
        .text {
            margin-left: 15px;
            >h1 {
                color: #000;
                font-family: "Mulish";
                font-size: 36px;
                font-weight: 500;
                margin-top: 34px;
            }
            >p {
                color: rgba(0, 0, 0, 0.90);
                font-family: "Mulish";
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
}